#[check_mandatory_fields]
#check = mandatory
#check.fields = ["245%%a"]
#filter_collection = HEP

[check_utf8]
check = utf8

[trailing_space]
check = trailing_space
check.strip = true
check.normalize_spaces = true
check.fields = ["100%%a", "700%%a", "520%%a"]
filter_collection = HEP

#[check_doi]
#check = doi
#filter_collection = HEP

#[check_url]
#check = url
#check.fields = ["8564_a", "999C5u"]
#filter_collection = HEP

[check_earliest_date]
check = earliest_date

[regular_texkey]
check = mvtexkey_a2z
filter_collection = HEP

[texkey_exists_035a]
check = texkey
filter_pattern = -980__a:Withdrawn -980__a:Deleted
filter_collection = HEP
check.extra_subfields = [["9", "INSPIRETeX"]]

[expand_subject]
check = expand_subject
filter_pattern = 65017a:/^.$/

[correct_dates]
check = correct_dates
filter_collection = HEP,HepNames,Institutions,Jobs,Conferences,Experiments,Journals,Data

[split_subject_kw]
check = split_multiple_subfields
check.fields = ["6531_a", "65017a", "695__a"]

[fix_inspireid]
check = fix_inspireid
filter_collection = HEP
filter_pattern = authorcount:500->10000

[fix_cds_import_bug]
check = fix_cds_import_bug
filter_pattern = 502__c:/^[12]/
filter_collection = HEP

[fix_spaces_in_journal_hep]
check = fix_spaces_in_journal
filter_pattern = 773__p:'. '
filter_collection = HEP
check.field = "773__p"

[fix_spaces_in_journal_journal]
check = fix_spaces_in_journal
filter_pattern = 711__a:'. '
filter_collection = Journals
check.field = "711__a"

[fix_spaces_in_references]
check = fix_spaces_in_journal
filter_pattern = 999C5s:'. '
filter_collection = HEP
check.field = "999C5s"

[add_alice_inspireid]
check = add_alice_inspireid
filter_collection = HEP
filter_pattern = find cn alice

[endash_to_hyphen]
check = regexp_replace
filter_collection = HEP
filter_pattern = 773:*–*
check.fields = ["773__c", "773__n", "773__p", "773__v", "773__x"]
check.find = "–"
check.replace = "-"

[bogus_repnos]
check = delete_field_matching
filter_collection = HEP
filter_pattern = 037__a:/123-QED/
check.patterns = ["HEP-123-QED", "APS-123-QED", "APS/123-QED", "AIP-123-QED"]
check.fields = ["037__a"]

[author-apostrophe]
check = regexp_replace
filter_collection = HEP
filter_pattern = 100__a:'’' OR 700__a:'’'
check.fields = ["100__a", "700__a"]
check.find = "’"
check.replace = "'"

[sort_family_names]
check = sort_family_names
filter_pattern = 100__a:/^[^,]$|(,\s*.+\s+.+|,\s*(\w\.)+\w\w+)[^\.]$/ or 700__a:/^[^,]$|(,\s*.+\s+.+|,\s*(\w\.)+\w\w+)[^\.]$/
filter_collection = HEP

[geocode_confs]
check = geocode_all_the_things
filter_collection = Conferences

[typecode]
check = type_code
filter_collection = HEP
filter_pattern = 773__y:1900->3000 -980__a:Proceedings -980__a:Introductory

[superseeded_ref]
check = superseeded_refs
filter_collection = HEP
filter_pattern = 999C50:**

[ref_volume_PLB]
check = ref_jvolume
filter_pattern = 999C5s:"Phys.Lett.,*B,*"
filter_collection = HEP
check.journal= "Phys.Lett."
check.letter = "B"
check.vol_min = 169

[doiprefixinref]
check = regexp_replace
filter_collection = HEP
filter_pattern = 999C5a:/^10\.[0-9]{4}/
check.fields = ["999C5a"]
check.find = "^(?i)(?<!doi:)\\s*(10[.][0-9]{4,}(?:[.][0-9]+)*/(?:(?![\"&\\'<>])\\S)+)\\b"
check.replace = "doi:\\1"

[orcidtrailingdot]
check = regexp_replace
filter_collection = HEP
filter_pattern = 100__j:/^ORCID:0000-000\d{1}-\d{4}-\d{3}[\dX][.]$/ OR 100__k:/^ORCID:0000-000\d{1}-\d{4}-\d{3}[\dX][.]$/ OR 700__j:/^ORCID:0000-000\d{1}-\d{4}-\d{3}[\dX][.]$/ OR 700__k:/^ORCID:0000-000\d{1}-\d{4}-\d{3}[\dX][.]$/
check.fields = ["100__j", "100__k", "700__j", "700__k"]
check.find = "^(ORCID:0000-000\\d{1}-\\d{4}-\\d{3}[\\dX])[.]$"
check.replace = "\\1"

[remhep_fermilab_coll]
check = fermilab_coll
filter_collection = HEP
filter_pattern = 037__a:/FERMILAB-(SLIDES|POSTER)/ or 037__z:/FERMILAB-(SLIDES|POSTER)/

[fermilab_coll]
check = fermilab_coll
filter_collection = HEP
filter_pattern = (037__a:'Fermilab' or 037__z:'Fermilab') -980__a:Fermilab

[replace_Lokajicek_inspireid]
check = replace_subfield_filter
filter_collection = HEP
filter_pattern = 700__a:"Lokajicek, Milos" 700__i:"INSPIRE-00102470" (693__e:"FNAL-E-0823" or 693__e:"FNAL-E-0740" or 693__e:"CERN-LHC-ATLAS")
check.subfield_filter = ["a", "Lokajicek, Milos"]
check.fields = ["100__i", "700__i"]
check.pattern = "INSPIRE-00102470"
check.replace = "INSPIRE-00278790"

[replace_LokajicekM_inspireid]
check = replace_subfield_filter
filter_collection = HEP
filter_pattern = 700__a:"Lokajicek, M." 700__i:"INSPIRE-00102470" (693__e:"FNAL-E-0823" or 693__e:"FNAL-E-0740" or 693__e:"CERN-LHC-ATLAS")
check.subfield_filter = ["a", "Lokajicek, M."]
check.fields = ["100__i", "700__i"]
check.pattern = "INSPIRE-00102470"
check.replace = "INSPIRE-00278790"

[GRID_to_ROR]
check = convert_grid_to_ror
filter_collection = Institutions
filter_pattern = 035:GRID

[authoronename]
check = regexp_replace
filter_collection = HEP
filter_pattern = 100__a:/,$/ or 700__a:/,$/
check.find = "^([\\w'-]+)\\s?,$"
check.replace = "\\1"
check.fields = ["100__a", "700__a"]
